body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #f6efef;
	background-color: #080101;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
	border: 1px solid wheat;
}

h3 {
  margin-top: 30px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

a {
	color: #2574A9;
}